header {
    background-color: #aaacff;
    color: #fdffe3;
            
}

body {
    background-color: #fdffe3;
}

main {
    background-color: #ffffff;
    padding: 16px;
    font-family: 'Lato', sans-serif;
    color: #aaacff;
}

.post {
    margin-bottom: 48px;
}

.post .user-info img {
    border-radius: 50%;
}

h2:hover {
    outline-color: #b3cfff8;
    outline-style: dotted;
}


